[Desktop Entry]
Type=Application
Name=Tor Browser (Nightly)
GenericName=Web Browser
Comment=Tor Browser Nightly – ARM64
Exec=/opt/tor-browser/Browser/start-tor-browser --detach
Icon=/opt/tor-browser/Browser/browser/chrome/icons/default/default128.png
Terminal=false
Categories=Network;WebBrowser;
StartupWMClass=Tor Browser
